{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign has_social_icons = true
  if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
    assign has_social_icons = false
  endif
-%}

<footer class="custom-footer">
  <div class="custom-footer__inner ">
    <div class="custom-footer__contents">
      <div class="custom-footer__left">
        <div class="custom-footer__logo">
          <img src="https://cdn.shopify.com/s/files/1/0680/4848/6651/files/logo.png?v=1704238354" alt="">
        </div>
        {%- if section.settings.show_social and has_social_icons -%}
            {%- render 'a-social-icons', class: 'footer__list-social' -%}
          {%- endif -%}
        <div class="custom-footer__mail">
            <div class="footer-block__newsletter custom-footer__mail-heading">
                {%- if section.settings.coustom_newsletter_heading != blank -%}
                  <h2 class="footer-block__heading inline-richtext">{{ section.settings.coustom_newsletter_heading }}</h2>
                {%- endif -%}
                {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter' -%}
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <div class="newsletter-form__field-wrapper">
                    <div class="field">
                      <input
                        id="NewsletterForm--{{ section.id }}"
                        type="email"
                        name="contact[email]"
                        class="field__input"
                        value="{{ form.email }}"
                        aria-required="true"
                        autocorrect="off"
                        autocapitalize="off"
                        autocomplete="email"
                        {% if form.errors %}
                          autofocus
                          aria-invalid="true"
                          aria-describedby="ContactFooter-error"
                        {% elsif form.posted_successfully? %}
                          aria-describedby="ContactFooter-success"
                        {% endif %}
                        placeholder="{{ 'newsletter.label' | t }}"
                        required
                      >
                      <label class="field__label" for="NewsletterForm--{{ section.id }}">
                        {{ 'newsletter.label' | t }}
                      </label>
                      <button
                        type="submit"
                        class="newsletter-form__button field__button"
                        name="commit"
                        id="Subscribe"
                        aria-label="{{ 'newsletter.button_label' | t }}"
                      >
                        {% render 'icon-arrow' %}
                      </button>
                    </div>
                    {%- if form.errors -%}
                      <small class="newsletter-form__message form__message" id="ContactFooter-error">
                        {%- render 'icon-error' -%}
                        {{- form.errors.translated_fields.email | capitalize }}
                        {{ form.errors.messages.email -}}
                      </small>
                    {%- endif -%}
                  </div>
                  {%- if form.posted_successfully? -%}
                    <h3
                      class="newsletter-form__message newsletter-form__message--success form__message"
                      id="ContactFooter-success"
                      tabindex="-1"
                      autofocus
                    >
                      {% render 'icon-success' -%}
                      {{- 'newsletter.success' | t }}
                    </h3>
                  {%- endif -%}
                {%- endform -%}
              </div>
        </div>
      </div>
      <div class="custom-footer__right">
        <ul class="custom-footer__menu">
          <li class="custom-footer__menu-item">
            <a href="" class="custom-footer__menu-link">利用規約</a>
          </li>
          <li class="custom-footer__menu-item">
            <a href="" class="custom-footer__menu-link">プライバシーポリシー</a>
          </li>
          <li class="custom-footer__menu-item">
            <a href="" class="custom-footer__menu-link">特定商法取引に基づく表記</a>
          </li>
          <li class="custom-footer__menu-item">
            <a href="" class="custom-footer__menu-link">お問い合わせ</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<style>
   
  .custom-footer {
      background-color: #F0F1ED;
    }
    
    .custom-footer__inner {
        padding: 80px 40px;
    }

.custom-footer__contents {
  display: flex;
  gap: 8px;
  align-items: flex-end;
  padding: 0 50px;
}

.custom-footer__left {
  width: 50%;
}

.custom-footer__logo {
  max-width: 103px;
  width: 100%;
  aspect-ratio: 103 / 40;

}
.custom-footer__logo img {
  width: 100%;
  display: inline-block;
}

.custom-footer__sns {}

.custom-footer__mail {}

.footer-block__newsletter.custom-footer__mail-heading{
    text-align: start;
    margin-top: 40px;
}
.custom-footer__mail-heading h2{
    font-size: min(calc(16 / 1280 * 100vw), 16px);
    line-height: 116%;
}
.custom-footer__right {
  width: 50%;

}

.custom-footer__menu {
  text-align: end;
  margin-top: 62px;
}

.custom-footer__menu-item {}
.custom-footer__menu-item + .custom-footer__menu-item {
  margin-top: 5px;
}


.custom-footer__menu-link {
  text-decoration: none;
  color: #020202;
  font-size: 14px;
  font-size: min(calc(14 / 1280 * 100vw), 14px);
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.28px;
  margin: 0;
  padding: 0;
  display: block;
}


@media screen and (max-width: 768px) {
  .custom-footer {

  }
  .custom-footer__inner {
        padding: 40px;
    }

  .custom-footer__contents {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    padding: 0;
  }

  .custom-footer__left {
    width: 100%;
    display: contents;
  }

  .custom-footer__logo {
    max-width: 103px;
    width: 100%;
    aspect-ratio: 103 / 40;
    object-fit: cover;

  }
  .custom-footer__logo img {
    width: 100%;
    display: inline-block;
  }

  .custom-footer__sns {}

.custom-footer__mail {
  order: 1;
}

.custom-footer__right {
    width: 100%;

}

.custom-footer__menu {
  text-align: start;
  
}

.custom-footer__menu-item {}
.custom-footer__menu-item + .custom-footer__menu-item {
  margin-top: 20px;
}

.custom-footer__mail-heading h2{
    font-size: min(calc(16 / 375 * 100vw), 16px);
    line-height: 116%;
}
.custom-footer__menu-link {
  text-decoration: none;
  color: #020202;
  font-size: 14px;
  font-size: min(calc(14 / 375 * 100vw), 14px);
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.28px;
  margin: 0;
  padding: 0;
  display: block;
}
}


</style>

{% schema %}
  {
    "name": "カスタムフッター",
    "class": "custom-footer",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_social",
        "default": true,
        "label": "SNSアイコンを表示する"
      },
      {
        "type": "text",
        "id": "coustom_newsletter_heading",
        "default": "メールマガジン登録",
        "label": "メールマガジン登録の見出し"
      }
    ],
    "blocks": [],
    "presets": [
      {
        "name": "カスタムフッター"
      }
    ]
  }
{% endschema %}